@charset "UTF-8";

#subText{
    display: block;
}

img{
    display: block;
}

a {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
